.app-right {
  width: 360px;
  background-color: #f0f2f5;
  padding: 16px;
  position: fixed;
  // top: 55px; // dưới header
  right: 0;
  width: 360px; // hoặc 20-25%
  height: calc(100vh - 55px);
  background: #f0f2f5;
  overflow-y: auto;
  z-index: 999;

  overflow-y: hidden; // ẩn mặc định
  transition: all 0.2s ease;

  &:hover {
    overflow-y: auto; // hiện khi hover
  }

  // Tùy chỉnh thanh cuộn nếu cần
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  a {
    color: #1c1e21;
    text-decoration: none;
    &:hover {
      background-color: #e4e6eb;
      border-radius: 8px;
    }
  }

  .ant-list-header {
    padding: 0;
  }

  .ant-list-item {
    padding: 8px 0;
    &:hover {
      background-color: #e4e6eb;
      border-radius: 8px;
    }
  }

  .ant-divider {
    margin: 12px 0;
  }

  .ad-container {
    margin-bottom: 16px;
    img {
      width: 100%;
      border-radius: 8px;
      margin-bottom: 8px;
    }
  }

  .online-indicator {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: #31a24c;
    border-radius: 50%;
    border: 2px solid #fff;
  }

  .search-icon {
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v4/yv/r/iWYTX6KlzeM.png");
    background-position: 0px -163px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
  }
}
