.facebook-post {
  width: 650px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
  font-family: "Segoe UI", sans-serif;
  margin: 20px auto;
  padding: 12px;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    &-info {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
    }
  }

  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 999px;
  }

  &__name {
    font-weight: 600;
  }

  &__date {
    font-size: 12px;
    color: gray;
  }

  &__content {
    margin-bottom: 10px;

    img {
      margin-top: 8px;
      width: 100%;
      border-radius: 4px;
      border: 1px solid #eee;
    }
  }

  &__footer {
    border-top: 1px solid #eee;
    padding-top: 8px;

    & > div {
      margin: 6px 0;
    }
  }

  &__reactions {
    font-size: 14px;
  }

  &__stats {
    font-size: 13px;
    color: gray;
  }

  &__actions {
    display: flex;
    justify-content: space-around;

    button {
      background: none;
      border: none;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
