.app-left {
  width: 280px;
  background-color: #f0f2f5;
  padding: 16px;
  position: fixed;
  left: 0;
  width: 300px; // hoặc 20-25%
  height: calc(100vh - 55px);
  background: #f0f2f5;
  overflow-y: auto;
  z-index: 999;

  overflow-y: hidden; // ẩn mặc định
  transition: all 0.2s ease;

  &:hover {
    overflow-y: auto; // hiện khi hover
  }

  // Tùy chỉnh thanh cuộn nếu cần
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  a {
    color: #1c1e21;
    text-decoration: none;
    &:hover {
      background-color: #e4e6eb;
      border-radius: 8px;
    }
  }

  .ant-list-header {
    padding: 0;
  }

  .ant-list-item {
    padding: 8px 0;

    border-block-end: 0px solid rgba(30, 3, 3, 0.06);
    &:hover {
      background-color: #e4e6eb;
      border-radius: 8px;
    }
  }

  .ant-divider {
    margin: 12px 0;
  }
}
