.header-container {
  // background-color: red;
  .page-header {
    display: flex;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    height: 55px;
    //background-color: #717b96; // Facebook blue
    background-color: #ffffff;
    color: #fff;
    width: 100%;
    max-width: 100%;
    line-height: 55px;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0 16px;
    }

    &__logo {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &__nav {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 15px;
    }
    &__center {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
    }

    &__toggle {
      display: none;
      font-size: 2em;
      margin-right: 15px;
      color: #fff;

      cursor: pointer;
    }

    .logo {
      color: #000;
      cursor: pointer;
      display: flex;
      align-items: center;

      .icon-facebook {
        font-size: 30px;
        margin-right: 5px;
      }
    }

    .input-search {
      height: 30px;
      outline: none;
      padding: 5px 10px;
      border-radius: 15px;
      border: 0px solid #ddd;
      background-color: #f0f2f5;
      color: #000;
      flex: 1;
      max-width: 230px;
    }

    .nav-item {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 5px;
      border-radius: 50%;
      transition: background-color 0.3s;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }

      .ant-avatar {
        margin-right: 5px;
      }

      svg {
        font-size: 20px;
        color: #fff;
      }
    }
  }

  @media (max-width: 600px) {
    .page-header {
      flex-direction: column;
      height: auto;

      &__top {
        flex-direction: column;
        padding: 10px 16px;
      }

      &__toggle {
        display: block;
      }

      &__logo {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;

        .input-search {
          display: none;
        }
      }

      &__nav {
        justify-content: center;
        width: 100%;
      }
    }

    .navigation {
      display: none; // Hide navigation list on mobile, use drawer instead
    }
  }
}
